body {
        background-image: url("c:\Users\Julieta Di Urso\Downloads\FONDO.png");
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    

font-family: Arial, Helvetica, sans-serif;}

h3{
    color: orange;
text-align: center;
}
h4{
    color: orangered;
    text-align: center;
}
div{
    color: orange;
    text-align: center;
}
